RewriteEngine On
RewriteBase /

RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Avoid content negotiation picking extensions
Options -MultiViews

# Redirect .html requests to extensionless URLs for canonical links
RewriteCond %{THE_REQUEST} \s/+(.+?)\.html[\s?]
RewriteRule ^(.+)\.html$ /%1 [R=301,L]

# Rewrite requests without extension to .html files if they exist
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+?)/?$ $1.html [L]


